::ng-deep {
    .form-control {
        margin-top: 2%;
        margin-left: 17.5%;
    }

    input {
        height: 30px;
        width: 75%;
    }

    input[type=button] {
        width: 77.3%;
        height: 35px;
    }

    label {
        display: block;
    }
}
