* {
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    height: 5vh;

    nav {
        float: right;

        .nav-link {
            color: grey;
            text-decoration: none;
            font-weight: bold;
            padding: 5px 10px;
        }

        li {
            display: inline-block;
            margin: 5px;
        }
    }
}





.nav-link:hover {
    background-color: orange;
}
