<app-form id="login-form" title="{{title || 'Login'}}">
    <app-form-control id="email-or-username" label="Email or Phone" type="text"></app-form-control>
    <app-form-control id="password" label="Password" type="password"></app-form-control>
    <ng-content></ng-content>
    <app-form-control id="submit" value="Request a Demo" type="button"></app-form-control>
</app-form>
