<section class="background">
    <div id="white-background">
        <div id="close-button">
            [x]
        </div>
        <div>
            &nbsp;
        </div>
        <form id="{{id}}">
            <div>
                <h1>{{title}}</h1>
            </div>
            <ng-content></ng-content>
        </form>
    </div>
</section>
