* {
    margin: 0;
    padding: 0;
}

.background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(80, 80, 80);
    padding-left: 40%;
    padding-top: 4.5%;
    padding-bottom: 4.5%;

    #white-background {
        padding-top: 1%;
        padding-bottom: 3%;
        background: white;
        width: 40%;

        #close-button {
            float: right;
            margin-right: 5%;
        }
    }

    form {
        h1 {
            text-align: center;
            font-size: 1.5em;
        }

    }
}
