<main>
  <section id="form-section">
    <section class="left-section">
      <h1>Mentor for Sales Training</h1>
      <p>The Mentor Learning Platform empowers organizations to unlock their team's
        potential,creating a feedback loop for trainers to evaluate learner progress and
        systematically refine skills throughout the training process.</p>
    </section>
    <section class="right-section">
      <h1>Request a Demo</h1>
      <form>
        <div>
          <label for="first-name"></label>
          <input id="first-name" type="text" placeholder="First Name">
        </div>
        <div>
          <label for="last-name"></label>
          <input id="last-name" type="text" placeholder="Last Name">
        </div>
        <div>
          <label for="company-name"></label>
          <input id="company-name" type="text" placeholder="Company Name">
        </div>
        <div>
          <label for="email"></label>
          <input id="email" type="email" placeholder="Email">
        </div>
        <div>
          <label for="phone-number"></label>
          <input id="phone-number" type="tel" placeholder="Phone Number">
        </div>
        <div>
          <p id="error"></p>
          <input type="button" value="Request a Demo" onclick="submitData()" >
        </div>
      </form>
    </section>
  </section>

  <section id="benefits">
    <h1> Revitalize Your Employee Training Program</h1>
    <p>The Mentor Learning platform</p>
    <article class="benefit-information">
      <figure>
        <img src="/assets/profile-pic-transparent.png" alt="Profile Icon">
      </figure>
      <section class="benefit-information-title">
        <h2>1:1 VIDEO TRAINING</h2>
      </section>
      <section class="benefit-information-description">
        <p>Provide direct feedback on mock presentation
          videos pinpointing areas for improvement.
        </p>
      </section>
    </article>
    <article class="benefit-information">
      <figure>
        <img src="/assets/samolet.png" alt="Plane Icon">
      </figure>
      <section class="benefit-information-title">
        <h2>1:1 VIDEO TRAINING</h2>
      </section>
      <section class="benefit-information-description">
        <p>Provide direct feedback on mock presentation
          videos pinpointing areas for improvement.
        </p>
      </section>
    </article>
    <article class="benefit-information">
      <figure>
        <img src="/assets/krushka.png" alt="Lamp Icon">
      </figure>
      <section class="benefit-information-title">
        <h2>1:1 VIDEO TRAINING</h2>
      </section>
      <section class="benefit-information-description">
        <p>Provide direct feedback on mock presentation
          videos pinpointing areas for improvement.
        </p>
      </section>
    </article>
  </section>
</main>
