footer {
    background-color: rgb(25, 25, 25);
    text-align: center;
    padding: 2.5% 1%;

    .social-media {
        a, a:visited {
            color: wheat;
            text-decoration: none;
            font-size: 2em;
            margin: 0 0.5%;
        }

        a:hover {
            color: orange;
        }
    }

    #copyright {
        color: wheat;

        p {
            margin-bottom: 0.5%;
        }
    }

    hr {
        border-top: 0;
        border-bottom: 1px solid grey;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }
}




